<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="fileResUtil" class="ru.otus.spring.util.FileResourcesUtil"/>

    <bean id="quizDao" class="ru.otus.spring.dao.QuizDaoImpl">
        <constructor-arg name="quizDataFile" value="quiz.csv"/>
        <constructor-arg name="fileResourcesUtil" ref="fileResUtil"/>
    </bean>

    <bean id="quizService" class="ru.otus.spring.service.QuizServiceImpl">
        <constructor-arg name="quizDao" ref="quizDao"/>
    </bean>
</beans>
